day-05/Day-05-Branching.json
{
  "name": "Day-05-Branching",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "35bcad5d-670e-4d17-b8d1-46f490b6720d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea77c413-c0f3-4bc2-bfce-16223f0a75b0",
              "name": "email",
              "value": "sinhamanya.ms@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3fa4525b-8414-4403-a2fa-51714e6ce3d9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87392aea-73f0-417d-81ab-f14c9d57d045",
              "leftValue": "={{$json.email}}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "d560187e-6040-4437-8608-bf5591e3e3ed",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ea46969-8720-4062-aa94-ec9d2a39b4f2",
              "name": "result",
              "value": "Personal Email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "56ad2561-571f-46b2-ab62-4d3320ed0c53",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7b157c4-ff65-40fe-b72d-b894455880bb",
              "name": "result",
              "value": "Work Email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "8883ea29-2999-4555-a742-4efe38e7526d",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "60efa9c9-cc97-48f8-bc98-759ad413246e",
  "meta": {
    "instanceId": "a1f6bd7a801e8e00ebbdba56e0904ac8576837e80144a888ff5b185ee1ff1219"
  },
  "nodeGroups": [],
  "id": "07EYDETaDLmvOFQm",
  "tags": []
}