day-01/day-08/AI_form_submission.json
{
  "name": "AI_form_submission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "73293adb-66fa-4055-b60a-c4a1edd7c3b8",
      "name": "On form submission",
      "webhookId": "1717650b-f56b-4f6e-8048-e8d47301c869"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "538160ba-0168-438e-8c48-bb4595696cef",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "a47d4fde-56fb-4010-831f-2aaf18b0b670",
      "name": "does email contain gmail?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fcaf682-1691-473d-b81a-0a5ff68f38dc",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "8644421f-351a-48df-bbf3-73e9f10ec367",
      "name": "isTrusted true?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fcaf682-1691-473d-b81a-0a5ff68f38dc",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        96
      ],
      "id": "acd0fce1-024e-4f20-b429-c0f89ba2712a",
      "name": "isTrusted false?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "e5fb7647-0bcf-43b6-aa0c-65c091416c52",
      "name": "Reference"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        848,
        224
      ],
      "id": "c8d3bea2-e3a4-4638-94ca-84b61e97157d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wAl1nN0wSz3jgAGk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer the output relevant tags\n\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topic, key concepts, and technical terms. Always provide 4-8 tags as a comma-separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        32
      ],
      "id": "88106af3-28c2-4786-8ccc-4a0586c0ebc2",
      "name": "Add tags"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "tEi77wUExo73R6nE",
          "mode": "list",
          "cachedResultName": "q&a",
          "cachedResultUrl": "/projects/tEjr153jVpk1m0LY/datatables/tEi77wUExo73R6nE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('Reference').item.json.isTrusted }}",
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('Reference').item.json.Name }}",
            "Email": "={{ $('Reference').item.json.Email }}",
            "Question": "={{ $('Reference').item.json.Question }}",
            "Answer": "={{ $('Reference').item.json.Answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        32
      ],
      "id": "373dac5c-d252-40e3-b02d-5dac4ee4e900",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "does email contain gmail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "does email contain gmail?": {
      "main": [
        [
          {
            "node": "isTrusted true?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted false?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted true?": {
      "main": [
        [
          {
            "node": "Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted false?": {
      "main": [
        [
          {
            "node": "Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reference": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea291a2d-6c39-4c2a-b4cf-179a78d893ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1f6bd7a801e8e00ebbdba56e0904ac8576837e80144a888ff5b185ee1ff1219"
  },
  "nodeGroups": [],
  "id": "o7HaM32OUFdbnXqW",
  "tags": []
}